[project]
	description = SonarQube Examples
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lsbwant
[access "refs/for/refs/*"]
	read = group user/lsbwant
	push = group user/lsbwant
	label-Code-Review = -2..+2 group user/lsbwant
	label-Verified = -1..+1 group user/lsbwant
	rebase = group user/lsbwant
	removeReviewer = group user/lsbwant
	submit = group user/lsbwant
[access "refs/heads/*"]
	read = group user/lsbwant
	create = group user/lsbwant
	push = +force group user/lsbwant
	pushMerge = group user/lsbwant
[access "refs/tags/*"]
	push = +force group user/lsbwant
	pushTag = group user/lsbwant
	pushSignedTag = group user/lsbwant
